<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Potato</title>
    <link rel="stylesheet" href="/static/JS/framework/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/JS/framework/jquery/DataTables-1.10.3/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/static/CSS/system/strategy.css" type="text/css" />
    <!-- jquery -->
    <script type="text/javascript" src="/static/JS/framework/jquery/jquery-1.10.2.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="/static/JS/framework/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf-8" src="/static/JS/framework/jquery/DataTables-1.10.3/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/JS/System/DataStructureAndSource.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/JS/base.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/JS/System/modal.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/JS/System/refresh.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/JS/System/strategy.js"></script>
    {% load staticfiles %}
</head>
<body style="background-color: #000;">
    <div class="alert alert-dismissible bootAlert" role="alert" id="divAlert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>
            <label id="lbAlertType"></label>
        </strong>
        <label id="lbAlertMsg"></label>
    </div>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <img src="{% static "Image/logo.png" %}" width="50" height="50" class = "menu_img">
          <span class="menu_font">Potato<span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                <li  class="active"><a href="#">多策略</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="col-md-12">
        <div class="row" style="margin-top:10px; margin-left:0px;">
            <h3 style="margin-top:0px; margin-bottom:0px;margin-right:15px;color:#45A4CF">账户信息
                <span style="float:right">
                    <button class="btn btn-info" onclick="addTableOne();">添加</button>
                    <button class="btn btn-warning" onclick="saveTableOne();">生效</button>
                    <button class="btn btn-danger" onclick="deletTableOne();">删除</button>
                </span>
            </h3>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <table id="tb_one" class="nowrap left" style="width: 100%">
                    <thead>
                        <tr>
                            <th class="head_left">账户ID</th>
                            <th class="head">账户类型</th>
                            <th class="head">动态权益</th>
                            <th class="head">可用资金</th>
                            <th class="head">冻结资金</th>
                            <th class="head">资产</th>
                            <th class="head">日期</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="row" style="margin-top:10px; margin-left:0px;">
            <h3 style="margin-bottom:0px;margin-right:15px;color:#45A4CF">策略信息
                <span style="float:right">
                    <button class="btn btn-info" onclick="addTableTwo();">添加</button>
                    <button class="btn btn-warning" onclick="saveTableTwo();">运行</button>
                    <button class="btn btn-warning" onclick="stopTableTwo();">停止</button>
                    <button class="btn btn-danger" onclick="deletTableTwo();">删除</button>
                    <button class="btn btn-danger" id="TbTwoShow" onclick="ShowTableTwo();">隐藏ID</button>
                </span>
            </h3>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <table id="tb_two" class="nowrap left" style="width: 100%">
                    <thead>
                        <tr>
                            <th class="head_left">策略id</th>
                            <th class="head">策略名称</th>
                            <th class="head">交易品种</th>
                            <th class="head">持仓手数</th>
                            <th class="head">策略盈亏</th>
                            <th class="head">持仓盈亏</th>
                            <th class="head">策略参数</th>
                            <th class="head">账户id</th>
                            <th class="head">文件名称</th>
                            <th class="head">状态</th>
                            <th class="head">日期</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top:10px; margin-left:0px;">
            <h3 style="margin-bottom:0px;margin-right:15px;color:#45A4CF">成交信息
                <span style="float:right">
                    <button class="btn btn-danger" id="TbThreeShow" onclick="ShowTableThree();">隐藏ID</button>
                </span>
            </h3>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <table id="tb_three" class="nowrap left" style="width: 100%">
                    <thead>
                        <tr>
                            <th class="head_left">策略ID</th>
                            <th class="head">策略名称</th>
                            <th class="head">交易品种</th>
                            <th class="head">成交点位</th>
                            <th class="head">成交量</th>
                            <th class="head">成交时间</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        消息提示
                    </h4>
                </div>
                <div id="content" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>
